@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add Tailwind utilities for active link underlining */
.nav-link.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, #ff7f50, #1e90ff, #32cd32);
    border-radius: 1px;
    animation: slideIn 0.5s ease;
  }
  
  @keyframes slideIn {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  
